<!-- 
	Put the skeleton HTML for your Application here
	DO NOT include <html>, <head>, or <body> tags
	
	Create a separate template for any repeatable components
-->

<div>

	<script type="text/template" id="template_app_header">
	
		<!-- core application skeleton html -->
        <header id="user_color">
            <a class="brand" href="index.html"><img src="img/logo_2.png" alt="ChronoBeard"></a>

            <nav>
                <ul>
                    <li class="hidden">{{=id}}</li>
                    <li class="user">{{=user_n}}</li>
                    <li id="logout"><a href="#">LOG OUT</a></li>
                </ul>
            </nav>
        </header>
	
	</script>
	
	
	<script type="text/template" id="template_task_link">
	
		<!-- repeatable html for task menu -->
	
	</script>
	
	
	<script type="text/template" id="template_task_view">
	
		<!-- repeatable html for full task data in list -->
        <div class="clear"></div>

        <div class="main_content">

            <div class="clear"></div>

            <div class="column">
                <h2>Calender</h2>
                <div id="datepicker"></div>
            </div>
            <div class="column">
                <div id="tabs">
                <ul>
                    <li><a href="#myView"></a> </li>
                    <li><a href="#by_date"></a> </li>
                    <li><a href="#by_color"></a> </li>
                </ul>
                    <div id="myView">
                        <div id="accordion">
                            <div class="sortable">
                                <h3>{{=projectName} | {{=clientName}} </h3>
                                    <div>
                                        <p>{{=projectDescription}}</p>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div id="by_date"></div>
                    <div id="by_color"></div>
                </div>
            </div>
            <div class="column">
                <h2>Messaging</h2>
                <div>
                    <input >
                </div>
            </div>

        </div>
	
	</script>
	
	
	<!-- more component templates here -->
    <script type="text/template" id="template_app_footer">

        <!-- core application skeleton html -->
        <footer>
            <p>
                &copy; Copyright  by Bisike N. Nnadi
            </p>
        </footer>

    </script>

	
</div>